body{
    background-color: #f0ece3 ;
}

h1{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 100;
}

.input-group{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

button {
    font-family: 'Montserrat', sans-serif;
    background-color: #99b898;
    border: none;
    color: white;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
  }

ul{
    font-family: 'Montserrat', sans-serif;
    
}
